<article>
    <img src="<%= @reaction.image %>">
</article>
<footer>
    <a href="<%= @reaction.url %>">
        <h1><%= @reaction.no %>/<%= no_of_reactions %>: <%= @reaction.title %></h1>
        <h2>from <%= @reaction.feed.title %></h2>
    </a>
</footer>