<!doctype html>
<html>
    <head>
        <title>DevReactions</title>
        <style type="text/css">
            body {
                margin:auto; 
                background:#000; 
                font-family:Helvetica, Arial, sans-serif; 
                color:white;
                font-smoothing: antialiased;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                overflow:hidden;
            }
            footer {
                position:absolute; 
                margin:0; 
                background:rgba(0,0,0,.6); 
                padding:12px 16px; 
                bottom:0; 
                left:0;
                width:100%;
            }
            h1, h2 {
                margin:0;
            }
            h2 {
                font-weight:normal;
            }
            article {
                width:100%;
            }
            article img {
                border:none;
                width:100%;
                max-height:100%;
                display:block;
            }
            a, a:link, a:visited, a:hover {
                color:white;
                text-decoration:none;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <meta http-equiv="refresh" content="15; URL=/">
        <meta name="description" content="Watch the animated GIFs from DevOpReactions/SecurityReactions in full-screen.">
        <meta name="author" content="Tobias Kremer/soulchild">
    </head>
    <body>
        <article>
            <img src="<%= @reaction.image %>">
        </article>
        <footer>
            <a href="<%= @reaction.url %>">
                <h1><%= @reaction.no %>/<%= no_of_reactions %>: <%= @reaction.title %></h1>
                <h2>from <%= @reaction.feed.title %></h2>
            </a>
        </footer>
        <a href="https://github.com/soulchild"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
    </body>
</html>